
body{
  background-image: url('background.png');
  background-size: cover;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}


.container{
background-color: rgb(254 252 243);
height: 100% !important;
}

h1{
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

h3{
  font-size: 2em;
  color: rgb(223 137 37);
  padding-top: 2em;

}
.fill { 
  min-height: 100%;
  height: 100%;
}

.hide{
  display: none;
}
.barista{
  font-size: 2em;
  color: rgb(223 137 37);
}
#barista{
  font-size: 2em;
  color: rgb(223 137 37);
 
}
form{
  padding-top: 2em;
  align-items: center;
  text-align: center;
}
label{
  font-weight: 500;
  font-size: 1.5em;

}

.orderInput{
  height:3em;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  display: block;
  align-items: center !important;
  background-color: rgb(223 137 37) !important;
  border: none !important;
  width: 20em !important;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.completed{
  background-color: rgb(223 137 37);
  border: none;
  text-transform: uppercase;
  color:white;
}

ul{
  align-items: center;
  padding-bottom: 2em;
}
li{
  height: 12.5em;
  width: 20em;
  border:3px solid rgb(49 28 15);;
  display: inline-block;
  text-align: center;
  padding-top: 1.5em;
  margin-top: 2em;

}

.clear{
  margin-bottom: 2em;
  text-transform: uppercase;
}


.box-bottom-shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:3px 3px 5px 6px #ccc;
}